/* On récupère tes polices du jeu */
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Spectral:ital,wght@0,300;0,400;0,700;1,400&display=swap");

:root {
  /* On utilise tes variables de couleur du jeu */
  --vp-c-bg: #1a1a1a;
  --vp-c-bg-soft: #242424;
  --vp-c-bg-mute: #2a2a2a;

  --vp-c-brand: #d4af37; /* L'or des Grâces */
  --vp-c-brand-next: #f2fda7;

  --vp-c-text-1: #ececeb;
  --vp-c-text-2: #bababa;

  --vp-font-family-base: "Spectral", serif;
  --vp-font-family-mono: "Courier New", monospace;
}

/* Style des titres avec ta police "Cinzel" */
h1,
h2,
h3,
h4,
.vpi-logo {
  font-family: "Cinzel Decorative", serif !important;
  letter-spacing: 2px;
  color: var(--vp-c-brand) !important;
  text-transform: uppercase;
}

/* Personnalisation des blocs générés par sync-data.js */
.wiki-entry {
  border-left: 4px solid var(--vp-c-brand);
  background: var(--vp-c-bg-soft);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Style des tableaux (Bestiaire/Stats) */
table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: var(--vp-c-bg-mute) !important;
  color: var(--vp-c-brand);
  font-family: "Cinzel Decorative", serif;
}
